<!DOCTYPE html>
<html>
  <head>
    <title>User Detail</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Geologica" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/" class="nav-branding">PortugueseRoots</a>
        <a href="/users" class="button">See all Users</a>
        <a href="/users/create" class="button secondary">Create user</a>
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="/users/admins" class="nav-link">See all admins</a>
          </li>
          <li class="nav-item">
            <a href="/events" class="nav-link">See all the events</a>
          </li>
          <li class="nav-item">
            <a href="/places" class="nav-link">See all the places</a>
          </li>
          <li class="nav-item">
            <a href="/sales" class="nav-link">See all the sales</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <section>
      <div class="container">
        <h1>User Detail</h1>
        <form action="/users/edit/<%=user._id%>" method="post">
          <table>
            <tbody>
              <tr>
                <td>Id</td>
                <td><input type="hidden" name="_id" id="_id" value="<%= user._id %>" /><%= user._id %></td>
              </tr>
              <tr>
                <td>Name</td>
                <td><input type="text" name="name" id="name" value="<%= user.name %>" />
                </td>
              </tr>
              <tr>
                <td>Phone number</td>
                <td><input type="text" name="phonenumber" minlength="9" value="<%= user.phonenumber %>" /></td>
              </tr>
              <tr>
                <td>Email</td>
                <td><%= user.email %></td>
              </tr>
              <tr>
                <td>Role</td>
                <td>
                  <select name="role">
                    <% if (user.role == "USER") { %>
                      <option value="USER" selected>User</option>
                      <option value="ADMIN">Admin</option>
                    <% } else { %>
                      <option value="USER">User</option>
                      <option value="ADMIN" selected>Admin</option>
                    <% } %>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="2"><button type="submit">Edit</button></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
      <h3 class="links"><a href="/users">Watch all the persons</a></h3>
    </section>
  </body>
  <script src="/js/navbar.js"></script>
</html>
